.filter {

    margin-top: 20px;

    input, .multiselect {
        border-color: rgb(231, 231, 231);

        &::placeholder {
            color: #6b7280;
        }

        background-color: #ffffff;
    }

    .multiselect-placeholder {
        color: #6b7280;
    }

    &-search {
        display: flex;

        input {
            flex: 1;
            padding-left: 36px;
            background-image: url("/images/search.svg");
            background-repeat: no-repeat;
            background-position-x: 10px;
            background-position-y: 50%;
            background-size: 16px 16px;
            border-radius: 40px !important;
            border-color: rgb(231, 231, 231);
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background: #ecf0f1;
            border-radius: 8px;

            margin-left: 12px;


            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    &-forms {
        .filter-group {
            display: flex;
            justify-content: space-between;


            .form-group {
                width: 49%;
            }

            &__mobile {
                @include for-size(mobile) {
                    flex-direction: column;
                    justify-content: unset;
                    .form-group {
                        width: 100%;
                    }
                }
            }
        }

        .form-group {
            margin-top: 15px;
            display: flex;
            flex-direction: column;

            &__checkbox {
                .form-group-wrapper {
                    display: flex;
                    border: 1px solid #6077f1;
                    border-radius: 10px;
                    overflow: hidden;
                    padding: 0;
                    height: max-content;

                    label {
                        flex: 1;
                        display: flex;
                        margin-bottom: 0;
                        cursor: pointer;

                        input {
                            display: none;

                            &:checked + span {
                                background: #4264fd !important;
                                color: white !important;

                            }
                        }

                        &:first-child span {
                            //border-radius: 10px 0 0 10px;
                        }

                        &:last-child span {
                            //border-radius: 0 10px 10px 0;
                            border-right: unset !important;
                        }

                        span {
                            padding: 10px;
                            width: 100%;
                            height: 100%;
                            border-right: 1px solid #6077f1;
                            background-color: #f9fafe;
                            color: #4264fd;
                        }
                    }
                }
            }

            label {
                font-weight: 700;
                font-size: 12px;
                margin-bottom: 4px;
            }
        }
    }
}
